@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'variables';

body {
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button, input, select, textarea {
  font-family: 'Poppins', sans-serif;
}

.btnStyles {
  background-color: $pink;
  border: 2px solid $pink;
  width: 180px;
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
}

.btnCancel {
  color: $dark-grey;
  font-weight: 500;
  border-radius: 0.5rem;
  width: 180px;
  border: 2px solid $dark-grey;
}

@media screen and (max-width: 740px) {
  body {
    background-color: #fff;
  }
}