@import '../../styles/variables';

.container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
  margin-bottom: 0.1rem;
}

.image {
  background-color: $light-yellow;
  padding: 0.7rem 0.5rem;
  border-radius: 5px;
  min-width: 66px;
}

.item {
  display: flex;
  justify-content: space-between;
  flex-grow : 1;
}