@import '../../styles/variables';

.categoryMenu {
  min-width: 8.125rem;
  width: 8.125rem;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;

  > ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;

    > li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      height: 6.25rem;
      border-radius: 0.5rem;
    }
  }
}

.icons {
  color: $dark-grey;
}

.textCategory {
  font-weight: 500;
  font-size: 0.875rem;
  color: $dark-grey;
}

.activeCategory {
  background-color: $yellow;

  .icons, .textCategory {
    color: #000;
  }
}

.scrollbar::-webkit-scrollbar {
  height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: $light-grey;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: $dark-grey;
  border-radius: 20px;
}

@media screen and (max-width: 740px) {
  .categoryMenu {
    width: 100%;
    height: fit-content;

    > ul {
      flex-direction: row;
      justify-content: center;
      margin: 20px;
      overflow-x: scroll;

      > li {
        min-width: 4.875rem;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .categoryMenu {
    > ul {
      justify-content: start;
    }
  }
}